@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');

* {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Ubuntu', sans-serif;
}

.profile-cirlce {
    background-image: url(img/Ayush_image.jpg);
    background-size: 350px;
    width: 350px;
    height: 350px;
    border: 2px solid white;
    border-radius: 200px;
}

.btn {
    transform: translateY(0);
}

.btn:active {
    transform: translateY(-3px);
}

#frontImage {
    z-index: -10;
}

.autoType-and-linkSection-outer {
    margin: 3em 0;
}

.collapseAutoType {
    font-size: 2rem;
}

.autoType {
    color: yellow;
    /* font-weight: bold; */
}

.lang-card {
    transition: all ease 0.3s;
    user-select: none;
}

.lang-card:hover {
    transform: translateY(-10px);
}

/* .show-lang-card > div{
    display: none;
} */

.show-lang {
    display: none !important;
}

.show-more-btn {
    margin: 0;
    padding: 0;
}

.Project-card {
    width: 280px;
    height: 270px;
    background-color: white;
    position: relative;
    z-index: -3;
}

a.project-link-card {
    transition: all 100ms ease-in;
}

.project-name {
    font-size: 1.7em;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: black;
    transform: translate(-50%, -50%);
}

.project-lang {
    color: black;
    position: absolute;
    bottom: 5px;
    left: 10px;
    font-size: 1.2em;

}

.Project-card>img {
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5;
}

a.project-link-card:hover {
    transform: translateY(-10px);
    /* transform: scale(1.05); */
}

.footer {
    background: tomato;
    width: 100%;
    /* height: 50px; */
}

.profile-pic {
    position: relative;
}

.profile-pic .circle {
    z-index: -999;
    border: 1px solid white;
    position: absolute;
    inset: -30px;
    width: 120%;
    height: 120%;
}

@media screen and (max-width:450px) {
    .profile-pic .circle {
        width: 120%;
        height: 120%;
        inset: -10px;
        left: -15px;
    }
}

.profile-pic .circle.circle-1 {
    border: 2px solid #00ff0a;
    filter: drop-shadow(5px 5px 10px #00ff0a);
    border-radius: 30% 40% 52% 20% / 42% 35% 43% 59%;
    animation: circle-animation 15s linear infinite;
}

.profile-pic .circle.circle-2 {
    border: 2px solid #ff0057;
    filter: drop-shadow(5px 5px 10px #ff0057);
    transform: rotate(60deg);
    border-radius: 30% 40% 52% 20% / 42% 35% 43% 59%;
    animation: circle-animation 10s linear infinite;
}

.profile-pic .circle.circle-3 {
    border: 2px solid #fffd44;
    filter: drop-shadow(5px 5px 10px #fffd44);
    transform: rotate(30deg);
    border-radius: 30% 40% 52% 20% / 42% 35% 43% 59%;
    animation: circle-animation 5s linear infinite reverse;
}

@keyframes circle-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width:500px) {
    .who-am-i-text {
        font-size: 4em !important;
    }

    .project-container {
        gap: 30px !important;
    }

    .profile-cirlce {
        margin-top: 20px;
        background-size: 200px;
        width: 200px;
        height: 200px;
    }

    .autoType-up-div {
        display: none;
    }

    .autoType-and-linkSection-outer {
        margin: 10px 0;
    }

    .front-page-text>button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .front-page-text {
        text-align: center;
        width: 20rem !important;
    }

    .front-text>div,
    .front-text>span {
        font-size: 20px;
    }
}